.header-box{
    width: 318px;
    height: 50px;
    text-align: center;
    position:relative;
}
.restart{
    cursor: pointer;
}

.DarkAndLightBtn{
    position: absolute;
    border-radius:50%;
    right:10px;
    top: 8px;
    width: 1.2rem;
    height:1.2rem;
    outline-offset: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.DarkAndLightBtn:hover {outline-offset: 2px;}
