.container-box{
    width: 40rem;
    height: 38rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3 , fit-content);
    gap: 3rem;
    border: 2px solid #FFE79E;
    justify-content: center;
    align-content: center;
}
div{
    width: 10rem;
    height: 10rem;
    background-color: #fff;
}
.box{
    cursor: pointer;
}
.box:hover{
    border: 1px solid blueviolet;
}